---
import { getCollection, getEntry } from 'astro:content';

import StatBlock from '../../../components/StatBlock/StatBlock.astro';
import { getDungeonPath, getEncounterPath } from '../../../config/routes';
import SecretLayout from '../../../layouts/SecretLayout.astro';
import { renderBulletMarkdown } from '../../../utils/markdown';

import type { StatBlockData } from '@skyreach/schemas';

// Get the ID from the incoming server request
const { id } = Astro.params;
if (!id) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}

// Query for the entry directly using the request slug
const statBlockData = await getEntry('statBlocks', id);

// Redirect if the entry does not exist
if (statBlockData === undefined) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}

const allDungeons = await getCollection('dungeons');
const dungeons = allDungeons
  .filter((dungeon) => dungeon.data.statBlocks?.includes(statBlockData.id))
  .map((dungeon) => ({
    id: dungeon.id,
    name: dungeon.data.name,
  }))
  .sort((a, b) => a.name.localeCompare(b.name));
const dungeonList = dungeons
  .map((e) => `<a href=${getDungeonPath(e.id)}>${e.name}</a>`)
  .join(', ');

const allEncounters = await getCollection('encounters');
const encounters = allEncounters
  .filter((encounter) => encounter.data.statBlocks.includes(statBlockData.id))
  .map((encounter) => ({
    id: encounter.id,
    name: encounter.data.name,
  }))
  .sort((a, b) => a.name.localeCompare(b.name));
const encounterList = encounters
  .map((e) => `<a href=${getEncounterPath(e.id)}>${e.name}</a>`)
  .join(', ');

const statBlock: StatBlockData = statBlockData.data;
const title = `Stat Block: ${await renderBulletMarkdown(statBlock.name)}`;
---

<SecretLayout title={title}>
  {
    dungeons.length > 0 && (
      <p>
        Dungeons with this stat block:
        <Fragment set:html={dungeonList} />
      </p>
    )
  }
  {
    encounters.length > 0 && (
      <p>
        Encounters with this stat block:
        <Fragment set:html={encounterList} />
      </p>
    )
  }
  <Fragment set:html={renderBulletMarkdown(statBlock.desc ?? '')} />
  <StatBlock data={statBlock} enableLink={false} />
</SecretLayout>
