---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { processMarkdown } from '../../utils/markdown';

const npcData = await getCollection('npcs');

function formatOccupation(occupation: string, charClass?: string, adventuringCompany?: string) {
  if (occupation === 'Adventurer') {
    if (adventuringCompany) {
      return `Adventurer (${charClass}), ${adventuringCompany}`;
    } else {
      return `Adventurer (${charClass})`;
    }
  } else {
    return occupation;
  }
}
---
<style>
    img {
        float: right;
        max-height: 175px;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    section {
        margin-bottom: 2rem;
    }

    .description {
        p {
            text-indent: 2rem;
        }
    }
</style>
<Layout title="NPCs">
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title is-2">NPCs</h1>
      <main>
        {
          npcData.map((npc) =>
            <section>
              {npc.data.image && <img src={npc.data.image} alt={npc.data.name} />}
              <h2 class="title is-4" style="margin-bottom: 0.25rem">{npc.data.name}</h2>
              <p>Occupation: {formatOccupation(npc.data.occupation, npc.data.class, npc.data.adventuringCompany)}</p>
              <p>Species: {npc.data.species}</p>
              <p>Culture: {npc.data.culture}</p>
              <p>Pronouns: {npc.data.pronouns}</p>
              <div class="description">
                <Fragment set:html={ processMarkdown(npc.data.description) } />
              </div>
            </section>
          )
        }
      </main>
    </div>
  </section>
</Layout>
