---
import { getRegionTitle } from '../../utils/id-parsers';
import { renderBulletMarkdown } from '../../utils/markdown';
import Dungeons from './Dungeons.astro';
import Explored from './Explored.astro';
import HiddenSites from './HiddenSites.astro';
import Landmark from './Landmark.astro';
import Neighbors from './Neighbors.astro';
import Visited from './Visited.astro';
import type { HexData } from '../../types';

interface Props {
  hex: HexData;
  showSelfLink?: boolean;
}

const { hex, showSelfLink = true } = Astro.props;
---
<style>
    .data-bar {
        display: flex;
        font-weight: bold;

        div {
            margin-right: 1rem;
        }
    }

    .updates {
        padding: 1rem;
    }

    .updates ul {
        padding-left: 1rem;
    }

    .warning {
        background-color: var(--bulma-danger);
        color: var(--bulma-white);
        font-weight: bold;
        padding: 1rem;
        text-align: center;
        margin: 0 0 1rem;
    }
</style>

<section>
  {hex.updates && (
    <div class="box updates">
      <p class="warning">⚠️ Updates ⚠️</p>
      <ul>
        {hex.updates.map(update => (
          <li><Fragment set:html={renderBulletMarkdown(update)} /></li>
        ))}
      </ul>
    </div>
  )}
  <div class="data-bar">
    <Visited hex={hex} />
    <Explored hex={hex} />
    {showSelfLink &&
      <div>
        <a href={`/hexes/${hex.id}`}>View Hex</a>
      </div>}
    <div>
      <a href={`/regions/${hex.regionId}`}>{getRegionTitle(hex.regionId)}</a>
    </div>
    <Dungeons hex={hex} />
  </div>
  <div class="data-bar">
    <Neighbors hex={hex} />
  </div>
  <Landmark hex={hex} />
  <HiddenSites hex={hex} />
  {hex.secretSite &&
    <div class="hanging-indent">
      <span class="inline-heading">Secret Site:</span>{' '}
      <Fragment set:html={renderBulletMarkdown(hex.secretSite)} />
    </div>
  }
  {hex.notes && <p class="hanging-indent">
      <span class="inline-heading">GM&rsquo;s Notes:</span>
    </p>
    <ul>
      {hex.notes.map(note => (
        <li><Fragment set:html={renderBulletMarkdown(note)} /></li>
      ))}
    </ul>
  }
</section>
