---
import { getRegionTitle } from '../../utils/id-parsers';
import { formatText } from '../../utils/text';
import Dungeons from './Dungeons.astro';
import Explored from './Explored.astro';
import HiddenSites from './HiddenSites.astro';
import Neighbors from './Neighbors.astro';
import Visited from './Visited.astro';
import type { HexData } from '../../types';

interface Props {
  hex: HexData;
  showSelfLink?: boolean;
}

const { hex, showSelfLink = true } = Astro.props;
---
<style>
    .data-bar {
        display: flex;
        font-weight: bold;

        div {
            margin-right: 1rem;
        }
    }
</style>

<section>
  <div class="data-bar">
    <Visited hex={hex} />
    <Explored hex={hex} />
    {showSelfLink && <div>
      <a href={`/hexes/${hex.id}`}>View Hex</a>
    </div>}
    <div>
      <a href={`/regions/${hex.regionId}`}>{getRegionTitle(hex.regionId)}</a>
    </div>
    <Dungeons hex={hex} />
  </div>
  <div class="data-bar">
    <Neighbors hex={hex} />
  </div>
  <div class="hanging-indent">
    <span class="inline-heading">Landmark:</span>{' '}
    {formatText(hex.landmark)}
  </div>
  <HiddenSites hex={hex} />
  { hex.secretSite && <div class="hanging-indent"><span class="inline-heading">Secret Site:</span>{' '}{formatText(hex.secretSite)}</div> }
  { hex.notes && <p class="hanging-indent">
      <span class="inline-heading">GM&rsquo;s Notes:</span>
    </p>
    <ul>
      {hex.notes.map(note => (
        <li>{formatText(note)}</li>
      ))}
    </ul>
  }
</section>
