---
import { library, icon } from '@fortawesome/fontawesome-svg-core';
import { faSquare, faSquareCheck } from '@fortawesome/pro-light-svg-icons';
import { faDungeon } from '@fortawesome/pro-solid-svg-icons';
import { getCollection } from 'astro:content';
import HiddenSites from './HiddenSites.astro';
import type { HexData } from '../../types';

interface Props {
  hex: HexData;
  hideSelfLink?: boolean;
}

const { hex, hideSelfLink = false } = Astro.props;

function formatRegionName(regionId: string): string {
  return regionId.replace(/-/g, ' ').replace(/\b\w/g, l => l.toUpperCase());
}

// Find all dungeons that are in this hex
const allDungeons = await getCollection('dungeons');
const dungeons = allDungeons
  .filter(dungeon => dungeon.data.hexId === hex.id)
  .sort((a, b) => a.data.name.localeCompare(b.data.name));

// Get some icons
library.add(faDungeon, faSquare, faSquareCheck);
const dungeonIcon = icon(faDungeon);
const squareIcon = icon(faSquare);
const squareCheckIcon = icon(faSquareCheck);

const visitedIcon = hex.isVisited ? squareCheckIcon : squareIcon;
const exploredIcon = hex.isExplored ? squareCheckIcon : squareIcon;
---
<style>
    p {
        margin-left: 1rem;
        text-indent: -1rem;
        margin-bottom: 0;
        margin-top: 0;
    }

    .data-bar {
        display: flex;
        font-weight: bold;

        div {
            margin-right: 1rem;
        }
    }
</style>

<section>
  <div class="data-bar">
    <div>
      Visited:{' '}<Fragment set:html={visitedIcon.html} />
    </div>
    {hex.hiddenSites && hex.hiddenSites.length > 0 ? (
      <div>
        Explored:{' '}
        <Fragment set:html={exploredIcon.html} />
      </div>
    ) : null}
    {!hideSelfLink && (
      <div>
        <a href={`/hexes/${hex.id}`}>View Hex</a>
      </div>
    )}
    <div>
      <a href={`/regions/${hex.regionId}`}>{formatRegionName(hex.regionId)}</a>
    </div>
    <div>
      {dungeons.map(dungeon => (
        <a href={`/dungeons/${dungeon.id}`} title={dungeon.data.name}>
          <Fragment set:html={dungeonIcon.html} />
        </a>
      ))}
    </div>
  </div>
  <p><span class="inline-heading">Landmark:</span>{' '}{hex.landmark}</p>
  <HiddenSites hiddenSites={hex.hiddenSites} />
  { hex.secretSite && <p><span class="inline-heading">Secret Site:</span>{' '}{hex.secretSite}</p> }
</section>
