---
import { formatText } from '../../utils/text';
import Explored from './Explored.astro';
import HiddenSites from './HiddenSites.astro';
import Neighbors from './Neighbors.astro';
import Visited from './Visited.astro';
import type { HexData } from '../../types';

interface Props {
  hex: HexData;
}

const { hex } = Astro.props;
---
<style>
    .data-bar {
        display: flex;
        font-weight: bold;

        div {
            margin-right: 1rem;
        }
    }
</style>

<section>
  <div class="data-bar">
    <Visited hex={hex} />
    <Explored hex={hex} />
  </div>
  <div class="data-bar">
    <Neighbors hex={hex} />
  </div>
  <div class="hanging-indent">
    <span class="inline-heading">Landmark:</span>{' '}
    {formatText(hex.landmark)}
  </div>
  <HiddenSites hex={hex} />
</section>
