---
import type { StatBlockData } from '../../types';

interface Props {
  data: StatBlockData;
}

function getModifier(score: number): string {
  const result = Math.floor((score - 10) / 2);
  return result > 0 ? `+${result}` : `${result}`;
}

const { data } = Astro.props;
---

<style>
  table {
    margin: 0.5rem auto;
    width: 100%;
  }

  th,
  td {
    color: var(--bulma-body-color);
    padding: 0 0.5rem;
    text-align: center !important; /* This is literally what the `has-text-centered` class does */
  }
</style>
<table>
  <thead>
    <tr>
      <th>STR</th>
      <th>DEX</th>
      <th>CON</th>
      <th>INT</th>
      <th>WIS</th>
      <th>CHA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{data.strength} ({getModifier(data.strength)})</td>
      <td>{data.dexterity} ({getModifier(data.dexterity)})</td>
      <td>{data.constitution} ({getModifier(data.constitution)})</td>
      <td>{data.intelligence} ({getModifier(data.intelligence)})</td>
      <td>{data.wisdom} ({getModifier(data.wisdom)})</td>
      <td>{data.charisma} ({getModifier(data.charisma)})</td>
    </tr>
  </tbody>
</table>
