---
import { toLower } from 'lodash-es';

import { renderBulletMarkdown } from '../../utils/markdown';

import type { MeleeWeaponAttackData } from '../../types';

interface Props {
  action: MeleeWeaponAttackData;
}

const { action } = Astro.props;
const {
  additional_damage_dice,
  additional_damage_type,
  additional_default_damage,
  additional_text,
  attack_bonus,
  damage_bonus,
  damage_dice,
  damage_type,
  default_damage,
  name,
  recharge,
  use_desc = false,
} = action;

let additionalText = '.';
if (
  additional_default_damage &&
  additional_damage_dice &&
  additional_damage_type
) {
  additionalText = ` plus ${additional_default_damage} (${additional_damage_dice}) ${toLower(additional_damage_type)} damage.`;
} else if (additional_text) {
  additionalText = additional_text;
}

const nameText = recharge ? `${name} (Recharge ${recharge})` : name;
---

<style>
  .action-name {
    font-style: italic;
    font-weight: bold;
  }

  .attack-type {
    font-style: italic;
  }
</style>
<div>
  <span class="action-name">{nameText}.</span>
  {' '}
  {
    use_desc && (
      <span>
        {' '}
        <Fragment set:html={renderBulletMarkdown(action.desc ?? '')} />
      </span>
    )
  }
  <span class="attack-type">Melee Weapon Attack:</span>
  {' '}
  <span>+{attack_bonus} to hit,</span>
  {' '}
  reach {action.reach}, one target.
  {' '}
  <span class="attack-type">Hit:</span>&nbsp;{default_damage}
  ({
    damage_bonus ? (
      <>
        {damage_dice}+{damage_bonus}
      </>
    ) : (
      <>{damage_dice}</>
    )
  })
  {toLower(damage_type)} damage{additionalText}
</div>
