---
import { toLower } from 'lodash-es';

import { renderBulletMarkdown } from '../../utils/markdown';

import type { RangedWeaponAttackData } from '@skyreach/schemas';

interface Props {
  action: RangedWeaponAttackData;
}

const { action } = Astro.props;
const {
  attack_bonus,
  damage_bonus,
  damage_dice,
  damage_type,
  default_damage,
  name,
  recharge,
  use_desc = false,
} = action;

const nameText = recharge ? `${name} (Recharge ${recharge})` : name;
---

<style>
  .action-name {
    font-style: italic;
    font-weight: bold;
  }

  .attack-type {
    font-style: italic;
  }
</style>
<div>
  <span class="action-name">{nameText}.</span>
  {' '}
  {
    use_desc && (
      <span>
        {' '}
        <Fragment set:html={renderBulletMarkdown(action.desc ?? '')} />
      </span>
    )
  }
  <span class="attack-type">Ranged Weapon Attack:</span>
  {' '}
  <span>+{attack_bonus} to hit,</span>
  {' '}
  range {action.range}, one target.
  {' '}
  <span class="attack-type">Hit:</span>&nbsp;{default_damage}
  ({damage_dice}+{damage_bonus}) {toLower(damage_type)} damage.
</div>
