---
import type { StatBlockData } from '../../types';

interface Props {
  speed: StatBlockData['speed'];
}

const { speed } = Astro.props;
const hover = speed.hover ?? false;
const data = Object.entries(speed)
  .filter(([key]) => key !== 'hover')
  .sort((a, b) => {
    if (a[0] === 'walk') {
      return -1;
    }
    if (b[0] === 'walk') {
      return 1;
    }
    return a[0].localeCompare(b[0]);
  });
const walkingSpeed = data.shift();
if (!walkingSpeed) {
  throw new Error('Walking speed not found');
}
const otherSpeeds = data.map(([key, value]) => {
  if (hover) {
    return `, ${key} ${value} ft. (hover)`;
  }
  return `, ${key} ${value} ft.`;
}).join();
---
<div>
  <span class="inline-heading">Speed:</span>
  {' '}
  {walkingSpeed[1]} ft.{otherSpeeds}</div>
