---
import type { StatBlockData } from '../../types';

import Actions from './Actions.astro';
import Attributes from './Attributes.astro';
import ChallengeAndProficiency from './ChallengeAndProficiency.astro';
import Skills from './Skills.astro';
import Subheading from './Subheading.astro';
import Traits from './Traits.astro';

interface Props {
  data: StatBlockData;
}

const { data } = Astro.props;
---
<style>
    h2 {
        margin-top: 0;
    }

    section {
        margin-top: 1rem;
    }

    @media (min-width: 769px) {
        section {
            columns: 2;
        }
    }
</style>
<section>
  <h2 class="title is-4" style="margin-bottom: 0.25rem">{data.name}</h2>
  <Subheading data={data} />
  <div>
    <div>
      <span class="inline-heading">Armor Class:</span>
      {' '}
      {data.armor_class}
    </div>
    <div>
      <span class="inline-heading">Hit Points:</span>
      {' '}
      {data.hit_points} ({data.hit_dice})
    </div>
    <div>
      <span class="inline-heading">Speed:</span>
      {' '}
      {data.speed['walk']} ft.
    </div>
  </div>
  <Attributes data={data} />
  <div>
    <Skills data={data.skills} />
    <div>
      <span class="inline-heading">Senses:</span>
      {' '}
      {data.senses}
    </div>
    <div>
      <span class="inline-heading">Languages:</span>
      {' '}
      {data.languages}
    </div>
    <ChallengeAndProficiency data={data} />
  </div>
  <Traits specialAbilities={data.special_abilities} />
  <Actions actions={data.actions} />
</section>
