---
import type { StatBlockData } from '../../types';

import Subheading from './Subheading.astro';
import Attributes from './Attributes.astro';
import ChallengeAndProficiency from './ChallengeAndProficiency.astro';
import Traits from './Traits.astro';
import Actions from './Actions.astro';

interface Props {
  data: StatBlockData;
}

const { data } = Astro.props;
---
<style>
    section {
        columns: 2;
    }
</style>
<section>
  <h2 class="title is-4" style="margin-bottom: 0.25rem">{data.name}</h2>
  <Subheading data={data} />
  <div>
    <div>
      <span>Armor Class:</span>
      {' '}
      {data.armor_class}
    </div>
    <div>
      <span>Hit Points:</span>
      {' '}
      {data.hit_points} ({data.hit_dice})
    </div>
    <div>
      <span>Speed:</span>
      {' '}
      {data.speed['walk']} ft.
    </div>
  </div>
  <Attributes data={data} />
  <div>
    <div>
      <span>Senses:</span>
      {' '}
      {data.senses}
    </div>
    <div>
      <span>Languages:</span>
      {' '}
      {data.languages} ft.
    </div>
    <ChallengeAndProficiency data={data} />
  </div>
  <Traits specialAbilities={data.special_abilities} />
  <Actions actions={data.actions} />
</section>
