---
import type { StatBlockData } from '../../types';
import Subheading from './Subheading.astro';
import Attributes from './Attributes.astro';

interface Props {
  data: StatBlockData
}

const { data } = Astro.props;
---
<section>
  <h2>{data.name}</h2>
  <div>
    <Subheading data={data} />
    <div>
      <span>Armor Class:</span>
      {' '}
      {data.armor_class}
    </div>
    <div>
      <span>Hit Points:</span>
      {' '}
      {data.hit_points} ({data.hit_dice})
    </div>
    <div>
      <span>Speed:</span>
      {' '}
      {data.speed['walk']} ft.
    </div>
  </div>
  <Attributes data={data} />
</section>
