---
import { getEntry, render } from 'astro:content';
import SecretLayout from '../../layouts/SecretLayout.astro';

// Get the ID from the incoming server request
const { id } = Astro.params;
if (!id) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}

// Query for the entry directly using the request slug
const dungeon = await getEntry('dungeons', id);

// Redirect if the entry does not exist
if (dungeon === undefined) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}

const title = `Dungeon: ${dungeon.data.name}`;
const { Content } = await render(dungeon);
const hexData = await getEntry('hexes', dungeon.data.hexId);
if (!hexData) {
  throw new Error('Hex not found: ' + dungeon.data.hexId);
}
---
<SecretLayout title={title}>
  <div>
    <div>
      Hex:
      <a href={`/hexes/${hexData.id}`}>
        {hexData.data.id.toUpperCase()} "{hexData.data.name}"
      </a>
    </div>
    <Content />
  </div>
</SecretLayout>
