---
import ArticleLayout from '../../../layouts/ArticleLayout.astro';
import { renderMarkdown } from '../../../utils/markdown';
import { formatText } from '../../../utils/text';
import PublicContent from '../../../components/Content/PublicContent.astro';
import HiddenContent from '../../../components/Content/HiddenContent.astro';
import { getCollection } from 'astro:content';

const supplementsCollection = await getCollection('supplements');
const supplements = supplementsCollection
  .map(supplement => supplement.data)
  .sort((a, b) => a.name.localeCompare(b.name));

const hiddenText = `Below is a list of supplements that we are using as the basis for 
some of the [house rules][1]. These documents are available on Google Drive.

<p class="warning">⚠️ Do not share these links with anyone! ⚠️</p>

[1]: /rules/house-rules
`;

const publicText = `Below is a list of supplements that we are using as the basis for 
some of the [house rules][1]. Links below go to original sources, if you'd like 
to purchase these supplements for yourself.

[1]: /rules/house-rules
`;

const title = 'Third-party Supplements';
---
<style is:global>
  .warning {
    background-color: var(--bulma-danger);
    color: var(--bulma-white);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
      margin: 1rem 0;
  }
</style>
<ArticleLayout title={title}>
  <PublicContent>
    <Fragment set:html={renderMarkdown(publicText)} />
    <ul style="margin-top: 1rem;">
      {supplements.map(supplement => (
        <li>
          <a href={supplement.purchaseUrl} target="_blank" rel="noopener noreferrer">{formatText(supplement.name)}</a>
        </li>
      ))}
    </ul>
  </PublicContent>
  <HiddenContent>
    <Fragment set:html={renderMarkdown(hiddenText)} />
    <ul style="margin-top: 1rem;">
      {supplements.map(supplement => (
        <li>
          <a href={supplement.pdfUrl} target="_blank" rel="noopener noreferrer">{formatText(supplement.name)}</a>
        </li>
      ))}
    </ul>

  </HiddenContent>
</ArticleLayout>
