---
import { hexSort } from '@achm/core';
import { loadMapConfig } from '@achm/data';
import { getCollection } from 'astro:content';

import { getHexPath, getRegionPath } from '../../config/routes';
import { renderMarkdown } from '../../utils/markdown';
import SecretContent from '../Content/SecretContent.astro';
import RandomEncountersSection from '../RandomEncountersSection.astro';

import ContentDensity from './ContentDensity.astro';
import TreasureRating from './TreasureRating.astro';

import type { RegionData } from '@achm/schemas';

interface Props {
  region: RegionData;
  isSubcomponent?: boolean;
}

const { region, isSubcomponent = false } = Astro.props;

function getHeading(text: string) {
  const element = isSubcomponent ? 'h3' : 'h2';
  return `<${element} class="title is-3" style="margin-bottom: 0.25rem">${text}</${element}>`;
}

const notation = loadMapConfig().grid.notation;

const articles = await getCollection('articles');
const dungeons = await getCollection('dungeons');
const hexData = await getCollection('hexes');
// Use region.hexes as the authoritative source of membership
const hexes = (region.hexes ?? [])
  .map((hex) => hex.toUpperCase())
  .sort((a, b) => hexSort(a, b, notation));
---

<style>
  :global(.content-rating-container) {
    p {
      margin-bottom: 0;
    }
  }

  .description-container {
    margin-top: 1rem;
  }

  .hex-list {
    display: flex;
    font-weight: bold;

    div {
      margin-right: 1rem;
    }
  }

  :global(.story-container p) {
    margin-top: 1rem;
  }

  :global(.story-container p:first-child) {
    margin-top: 0;
  }
</style>
<SecretContent>
  <div>
    <div class="hex-list">
      <div><span class="inline-heading">Hexes:</span></div>
      {
        hexes.map((hex) => (
          <div>
            <a href={getHexPath(hex.toLowerCase())}>{hex}</a>
          </div>
        ))
      }
      <div>|</div>
      <div><a href=`${getRegionPath(region.id)}/hexes`>View all</a></div>
    </div>
    {region.topography && (
      <div class="hanging-indent">
        <span class="inline-heading">Topography:</span>{' '}{region.topography}
      </div>
    )}
    <div class="hanging-indent">
      <span class="inline-heading">Haven:</span>{' '}{region.haven}
    </div>
    <div class="content-rating-container">
      <ContentDensity
        dungeons={dungeons}
        hexData={hexData}
        hexCount={hexes.length}
        region={region}
      />
      <TreasureRating
        articles={articles}
        dungeons={dungeons}
        hexData={hexData}
        region={region}
      />
    </div>
    <div class="description-container">
      <Fragment set:html={renderMarkdown(region.description)} />
    </div>
    {(region.story) && (
      <Fragment set:html={getHeading('Story')} />
      <div class="story-container">
        <Fragment set:html={renderMarkdown(region.story)} />
      </div>
    )}
    <RandomEncountersSection
      region={region}
      headingLevel={isSubcomponent ? 'h3' : 'h2'}
    />
  </div>
</SecretContent>
