---
import { getCollection, getEntry } from 'astro:content';
import type { PlayerData } from '../../types';
import SecretLayout from '../../layouts/SecretLayout.astro';

// Get the ID from the incoming server request
const { id } = Astro.params;
if (!id) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}

// Query for the entry directly using the request slug
const characterData = await getEntry('characters', id);

// Redirect if the entry does not exist
if (characterData === undefined) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}

// Get details for the player
const players = await getCollection('players');
function getPlayerById(playerId: string): PlayerData {
  const output = players.find((player) => player.id === playerId);
  if (!output) {
    throw new Error(`Player not found: ${playerId}`);
  }
  return output.data;
}

const character = characterData.data;
const player = getPlayerById(character.playerId);
---
<style>
    .data-container {
        display: flex;
    }

    .data-container > div {
        width: 50%;
    }
</style>
<SecretLayout title={character.fullName}>
  <div class="data-container">
    <div>
      <ul>
        <li>Name: {character.displayName}</li>
        <li>Pronouns: {character.pronouns}</li>
        <li>Species: {character.species}</li>
        <li>Culture: {character.culture}</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>Player: {player.displayName} ({player.pronouns})</li>
        <li>Class: {character.class}</li>
        {character.subclass && <li>Subclass: {character.subclass}</li>}
        <li>Level: {character.level}</li>
      </ul>
    </div>
  </div>
  {character.backstory &&
    <div>
      <h2 class="title is-3">Backstory</h2>
      <p>{character.backstory}</p>
    </div>
  }
  {character.goals &&
    <div>
      <h2 class="title is-3">Goals</h2>
      <p>{character.goals}</p>
    </div>
  }
  {character.notes &&
    <div>
      <h2 class="title is-3">Notes</h2>
      <p>{character.notes}</p>
    </div>
  }
</SecretLayout>
