---
import Layout from '../layouts/Layout.astro';
import region2Hexes from '../../data/region-2-hexes.yml';
import region6Hexes from '../../data/region-6-hexes.yml';
import type { HexData, HexDatabase } from '../types';

const hexes: HexDatabase = region2Hexes.concat(region6Hexes)
  .sort((a: HexData, b: HexData) => a.id.localeCompare(b.id));
---

<Layout title="Hello World">
  <main>
    {
      hexes.map((hex: HexData) => {
        const hiddenSitesText = hex.hiddenSites.length === 1 ? 'Hidden Site' : 'Hidden Sites';
        return (
          <section>
            <h2>{hex.id.toUpperCase()}: {hex.name}</h2>
            <p><span>Landmark:</span> {hex.landmark}</p>
            <p><span>{hiddenSitesText}:</span></p>
            <ul>
            {
              hex.hiddenSites.map((site: string) => {
                return <li>{site}</li>;
              })
            }
            </ul>
          </section>
        );
      })
    }
  </main>
</Layout>
