---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { getRegionTitle } from '../utils/id-parsers';

const regions = await getCollection('regions');
const regionLinks = regions.map(region => ({
  href: `/${region.id}`,
  name: `${getRegionTitle(region.id)}: ${region.data.name}`
}));

const title = 'Beyond the Skyreach Mountains';
---
<Layout title={title}>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title is-2">{title}</h1>
      <div class="columns">
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-3">Hex Catalog</h2>
            <ul>
              <li><a href="/hex-catalog">Hex Catalog</a></li>
            </ul>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title is-2">Regions</h2>
            <ul>
              {regionLinks.map(link => (
                <li><a href={link.href}>{link.name}</a></li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
