---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { getRegionTitle } from '../utils/id-parsers';

const regions = await getCollection('regions');
const regionLinks = regions.map(region => ({
  href: `/${region.id}`,
  name: `${getRegionTitle(region.id)}: ${region.data.name}`
}));

const title = 'Beyond the Skyreach Mountains';
---
<Layout title={title}>
  <h1>{title}</h1>
  <p><a href="/hex-catalog">Hex Catalog</a></p>
  <h2>Regions</h2>
  {regionLinks.map(link => (
    <Fragment>
      <a href={link.href}>{link.name}</a>
    </Fragment>
  ))}
</Layout>
