---
import { getCollection, getEntry } from 'astro:content';
import RandomEncounterTable from '../../components/RandomEncounterTable.astro';
import SecretLayout from '../../layouts/SecretLayout.astro';
import { getRegionTitle } from '../../utils/id-parsers';
import { renderMarkdown } from '../../utils/markdown';

// Get the ID from the incoming server request
const { id } = Astro.params;
if (!id) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}

// Query for the entry directly using the request slug
const region = await getEntry("regions", id);

// Redirect if the entry does not exist
if (region === undefined) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  });
}

const description = renderMarkdown(region.data.description);
const hexData = await getCollection('hexes');
const hexes = hexData
  .filter(hex => hex.data.regionId === region.id)
  .map(hex => hex.data.id.toUpperCase())
  .sort((a, b) => a.localeCompare(b));
const title = `${getRegionTitle(region.id)}: ${region.data.name}`;
---
<style>
    .description-container {
        margin-top: 1rem;

        p:not(:first-child) {
            text-indent: var(--skyreach-standard-indent);
        }
    }

    .hex-list {
        display: flex;
        font-weight: bold;

        div {
            margin-right: 1rem;
        }
    }
</style>
<SecretLayout title={title}>
  <div class="hex-list">
    <div><span class="inline-heading">Hexes:</span></div>
    {hexes.map(hex => (
      <div>
        <a href={`/hexes/${hex.toLowerCase()}`}>{hex}</a>
      </div>
    ))}
  </div>
  <div class="hanging-indent"><span class="inline-heading">Haven:</span>{' '}{region.data.haven}</div>
  <div class="hanging-indent"><span class="inline-heading">Icon:</span>{' '}{region.data.icon}</div>
  <div class="description-container">
    <Fragment set:html={description} />
  </div>
  <h2 class="title is-4" style="margin-bottom: 0.25rem">Random Encounters</h2>
  <p class="hanging-indent">
    <span class="inline-heading">Chance of encounter:</span>
    {' '}
    {region.data.encounterChance * 5}%
    (&le;{region.data.encounterChance})
  </p>
  <RandomEncounterTable data={region.data.encounters} />
</SecretLayout>
