---
import { getCollection } from 'astro:content';
import RandomEncounterTable from '../../components/RandomEncounterTable.astro';
import Layout from '../../layouts/Layout.astro';
import { getRegionTitle } from '../../utils/id-parsers';

export async function getStaticPaths() {
  const regions = await getCollection('regions');
  return regions.map(region => ({
    params: { id: region.id },
    props: { region },
  }));
}

const { region } = Astro.props;
const description = region.data.description.startsWith('<') ? // TODO Render this using markdown
  region.data.description :
  '<p>' + region.data.description + '</p>';
const hexData = await getCollection('hexes');
const hexes = hexData
  .filter(hex => hex.data.regionId === region.id)
  .map(hex => hex.data.id.toUpperCase())
  .sort((a, b) => a.localeCompare(b));
const title = `${getRegionTitle(region.id)}: ${region.data.name}`;
---
<style>
    .description-container {
        margin-top: 1rem;

        p:not(:first-child) {
            text-indent: 1rem;
        }
    }

    .hanging-indent {
        margin-left: 1rem;
        text-indent: -1rem;
    }

    .hex-list {
        display: flex;
        font-weight: bold;

        div {
            margin-right: 1rem;
        }
    }
</style>
<Layout title={title}>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title is-2">{title}</h1>
      <div class="hex-list">
        <div><span class="inline-heading">Hexes:</span></div>
        {hexes.map(hex => (
          <div>
            <a href={`/hexes/${hex.toLowerCase()}`}>{hex}</a>
          </div>
        ))}
      </div>
      <div class="hanging-indent"><span class="inline-heading">Haven:</span>{' '}{region.data.haven}</div>
      <div class="hanging-indent"><span class="inline-heading">Icon:</span>{' '}{region.data.icon}</div>
      <div class="description-container">
        <Fragment set:html={description} />
      </div>
      <h2 class="title is-4" style="margin-bottom: 0.25rem">Random Encounters</h2>
      <p class="hanging-indent">
        <span class="inline-heading">Chance of encounter:</span>
        {' '}
        {region.data.encounterChance * 5}%
        (&le;{region.data.encounterChance})
      </p>
      <RandomEncounterTable data={region.data.encounters} />
    </div>
  </section>
</Layout>
