---
import { getCollection } from 'astro:content';
import ComponentLayout from '../../layouts/ComponentLayout.astro';
import { getRegionTitle } from '../../utils/id-parsers';

const regions = await getCollection('regions');
const regionLinks = regions.map(region => ({
  href: `/regions/${region.id}`,
  name: `${getRegionTitle(region.id)}: ${region.data.name}`
}));

const title = 'Baruun Khil Regions';
---
<style>
    .list-columns {
        columns: 2;
    }
</style>
<ComponentLayout title={title}>
  <div class="list-columns">
    <ul>
      {regionLinks.map(link => (
        <li><a href={link.href}>{link.name}</a></li>
      ))}
    </ul>
  </div>
</ComponentLayout>
