---
import { getEntry } from 'astro:content';
import type { CharacterData, PlayerData } from '../types';

interface Props {
  character: CharacterData;
  isSubcomponent?: boolean;
}

const { character, isSubcomponent = false } = Astro.props;

// Get player data
const playerData = await getEntry('players', character.playerId);
if (!playerData) {
  throw new Error(`Player not found: ${character.playerId}`);
}
const player: PlayerData = playerData.data;

// Format subheadings
const subheading = (text: string) => {
  if (isSubcomponent) {
    return `<h3 class="title is-4">${text}</h3>`;
  }
  return `<h2 class="title is-3">${text}</h2>`;
};
---
<style>
    .data-container {
        display: flex;
    }

    .data-container > div {
        width: 50%;
    }
</style>
<div class="data-container">
  <div>
    <ul>
      <li>Name: {character.displayName}</li>
      <li>Pronouns: {character.pronouns}</li>
      <li>Species: {character.species}</li>
      <li>Culture: {character.culture}</li>
    </ul>
  </div>
  <div>
    <ul>
      <li>Player: {player.displayName} ({player.pronouns})</li>
      <li>Class: {character.class}</li>
      {character.subclass && <li>Subclass: {character.subclass}</li>}
      <li>Level: {character.level}</li>
    </ul>
  </div>
</div>
{character.backstory &&
  <div>
    <Fragment set:html={subheading('Backstory')} />
    <p>{character.backstory}</p>
  </div>
}
{character.goals &&
  <div>
    <Fragment set:html={subheading('Goals')} />
    <p>{character.goals}</p>
  </div>
}
{character.notes &&
  <div>
    <Fragment set:html={subheading('Notes')} />
    <p>{character.notes}</p>
  </div>
}
