---
import { getEntry, render } from 'astro:content';
import { renderBulletMarkdown } from '../utils/markdown';
import type { DungeonEntry } from '../types';

interface Props {
  dungeon: DungeonEntry;
  isSubcomponent?: boolean;
}

const { dungeon, isSubcomponent = false } = Astro.props;
const hexData = await getEntry('hexes', dungeon.data.hexId);
if (!hexData) {
  throw new Error('Hex not found: ' + dungeon.data.hexId);
}

const { Content } = await render(dungeon);
---
<style>
    .dungeon-data-bar {
        display: flex;
    }

    .dungeon-data-bar > div {
        font-weight: bold;
        margin-right: 1rem;
    }

    .dungeon-source {
        font-weight: bold;
    }
</style>
<div class="dungeon-data-bar">
  <div>
    Hex:
    <a href={`/hexes/${hexData.id}`}>
      {renderBulletMarkdown(`${hexData.data.id.toUpperCase()} "${hexData.data.name}"`)}
    </a>
  </div>
  {isSubcomponent && (
    <div>
      <a href={`/dungeons/${dungeon.id}`}>
        View Dungeon
      </a>
    </div>
  )}
</div>
{dungeon.data.source && (
  <div class="dungeon-source">
    Source: <Fragment set:html={renderBulletMarkdown(dungeon.data.source)} />
  </div>
)}
<Content />
