---
import type { StatBlockData } from '../types';

interface Props {
  data: StatBlockData
}

const { data } = Astro.props;
---
<div>
  <h2>{data.name}</h2>
  <p><span class="inline-heading">Type:</span>{' '}{data.type}</p>
  <p><span class="inline-heading">Size:</span>{' '}{data.size}</p>
  <p><span class="inline-heading">Alignment:</span>{' '}{data.alignment}</p>
  <p><span class="inline-heading">AC:</span>{' '}{data.armor_class}</p>
  <p><span class="inline-heading">HP:</span>{' '}{data.hit_points}</p>
  <p><span class="inline-heading">Speed:</span>{' '}{data.speed}</p>
  <p><span class="inline-heading">STR:</span>{' '}{data.strength}</p>
  <p><span class="inline-heading">DEX:</span>{' '}{data.dexterity}</p>
  <p><span class="inline-heading">CON:</span>{' '}{data.constitution}</p>
  <p><span class="inline-heading">INT:</span>{' '}{data.intelligence}</p>
  <p><span class="inline-heading">WIS:</span>{' '}{data.wisdom}</p>
  <p><span class="inline-heading">CHA:</span>{' '}{data.charisma}</p>
  <p><span class="inline-heading">Senses:</span>{' '}{data.senses}</p>
  <p><span class="inline-heading">Languages:</span>{' '}{data.languages}</p>
  <p><span class="inline-heading">Challenge:</span>{' '}{data.challenge_rating}</p>
  <p><span class="inline-heading">Traits:</span>{' '}{data.special_abilities}</p>
  <p><span class="inline-heading">Actions:</span>{' '}{data.actions}</p>
  <p><span class="inline-heading">Reactions:</span>{' '}{data.reactions}</p>
</div>
