---
import { getCollection } from 'astro:content';

import { hexSort } from '@skyreach/core';
import DungeonDetails from '../../../components/DungeonDetails.astro';
import SecretArticleLayout from '../../../layouts/SecretArticleLayout.astro';

const dungeonData = await getCollection('dungeons');
const dungeons = dungeonData.sort((a, b) => hexSort(a.data.hexId, b.data.hexId));

const title = 'Dungeons';
---

<style is:global>
  .dungeon-collection h2.title.is-3 {
    font-size: 1.5rem; /* mimic is-4 */
    line-height: 1.25;
  }

  .dungeon-collection h3.title.is-4 {
    font-size: 1.25rem; /* mimic is-5 */
    line-height: 1.25;
  }

  .dungeon-collection h4.title.is-5 {
    font-size: 1.125rem; /* mimic is-6 */
    line-height: 1.25;
  }

  .dungeon-collection h5.title.is-6 {
    font-size: 1rem; /* mimic body or a softer heading */
    line-height: 1.25;
    font-weight: 600;
  }
</style>
<SecretArticleLayout title={title}>
  <div class="dungeon-collection">
    {
      dungeons.map((dungeon) => (
        <div>
          <h2 class="title is-3">
            {dungeon.data.hexId.toUpperCase()}: {dungeon.data.name}
          </h2>
          <DungeonDetails dungeon={dungeon} isSubcomponent={true} />
        </div>
      ))
    }
  </div>
</SecretArticleLayout>
