---
import { sortIgnoringArticles } from '@achm/core';
import { getCollection } from 'astro:content';

import SecretContent from '../../../../components/Content/SecretContent.astro';
import { getNpcPath, getRoleplayBookPath } from '../../../../config/routes.ts';
import ComponentLayout from '../../../../layouts/ComponentLayout.astro';
import { renderMarkdown } from '../../../../utils/markdown';
import { formatText } from '../../../../utils/text';

function formatOccupation(
  occupation: string,
  charClass?: string,
  adventuringCompany?: string,
) {
  if (occupation === 'Adventurer') {
    if (adventuringCompany) {
      return `Adventurer (${charClass}), ${adventuringCompany}`;
    } else {
      return `Adventurer (${charClass})`;
    }
  } else {
    return occupation;
  }
}

const npcData = (await getCollection('npcs')).sort((a, b) =>
  sortIgnoringArticles(a.data.name, b.data.name)
);
const title = 'NPCs';
---

<style>
  img {
    float: right;
    max-height: 175px;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 2rem;
  }

  .description {
    p {
      margin-bottom: 1rem;
    }
  }

  .fort-dagaric-rp-link {
    margin-bottom: 1rem;
    padding: 0.75rem;
    background-color: var(--bulma-scheme-main-bis);
    border-left: 3px solid var(--bulma-link-text);
  }

  .npc-meta {
    margin-bottom: 1rem;

    p {
      margin-bottom: 0;
    }
  }

  h2.title a {
    color: var(--bulma-strong-color);
    text-decoration: none;
  }
</style>
<ComponentLayout title={title}>
  <main>
    {
      npcData.map((npc) => (
        <section>
          {npc.data.image && <img src={npc.data.image} alt={npc.data.name} />}
          <h2 class="title is-4" style="margin-bottom: 0.25rem">
            <a href={getNpcPath(npc.id)}>{npc.data.title}{' '}{npc.data.name}</a>
          </h2>
          <div class="npc-meta">
            <p>
              <span class="inline-heading">Occupation:</span>{' '}
              {formatOccupation(
                npc.data.occupation,
                npc.data.class,
                npc.data.adventuringCompany,
              )}
            </p>
            <p>
              <span class="inline-heading">Species:</span>{' '}{npc.data.species}
            </p>
            <p>
              <span class="inline-heading">Culture:</span>{' '}{npc.data.culture}
            </p>
            <p>
              <span class="inline-heading">Pronouns:</span>{' '}{npc.data.pronouns}
            </p>
          </div>
          <div class="description">
            <Fragment set:html={renderMarkdown(npc.data.description)} />
          </div>
          <SecretContent>
            {npc.data.notes && (
              <>
                <p>
                  <span class="inline-heading">GM Notes:</span>
                </p>
                <ul>
                  {npc.data.notes.map((note) => (
                    <li>
                      <Fragment set:html={renderMarkdown(note)} />
                    </li>
                  ))}
                </ul>
              </>
            )}
          </SecretContent>
        </section>
      ))
    }
  </main>
</ComponentLayout>
