---
import Explored from './Explored.astro';
import HiddenSites from './HiddenSites.astro';
import Landmark from './Landmark.astro';
import Neighbors from './Neighbors.astro';
import Visited from './Visited.astro';

import type { HexData } from '@skyreach/schemas';

interface Props {
  hex: HexData;
}

const { hex } = Astro.props;
---

<style>
  .data-bar {
    display: flex;
    font-weight: bold;

    div {
      margin-right: 1rem;
    }
  }
</style>

<section>
  <div class="data-bar">
    <Visited hex={hex} />
    <Explored hex={hex} />
  </div>
  <div class="data-bar">
    <Neighbors hex={hex} />
  </div>
  <Landmark hex={hex} />
  <HiddenSites hex={hex} />
</section>
