---
import PillarProgress from './PillarProgress.astro';
import type { CharacterData } from '../../types';

interface Props {
  character: CharacterData;
  level: number;
}

const { character, level } = Astro.props;

function getPointsPerLevel(level: number): number {
  if (level >= 1 && level <= 4) {
    return 2;
  } else if (level >= 5 && level <= 10) {
    return 4;
  } else if (level >= 11 && level <= 20) {
    return 6;
  }
  throw new Error(`Invalid level: ${level}`);
}

// Subtract points for levels already completed
const points = {
  combat: character.advancementPoints.combat,
  exploration: character.advancementPoints.exploration,
  social: character.advancementPoints.social,
};
for (let i = 1; i < level-1; i++) {
  points.combat -= Math.min(points.combat, getPointsPerLevel(i));
  points.exploration -= Math.min(points.exploration, getPointsPerLevel(i));
  points.social -= Math.min(points.social, getPointsPerLevel(i));
}

const containerClasses = [
  'subgrid',
  {
    'two-cols': getPointsPerLevel(level) === 2,
    'four-cols': getPointsPerLevel(level) === 4,
    'six-cols': getPointsPerLevel(level) === 6,
  },
];
---
<div class:list={containerClasses}>
  <PillarProgress pointsEarned={points.combat} pointsTotal={getPointsPerLevel(level)} />
  <PillarProgress pointsEarned={points.exploration} pointsTotal={getPointsPerLevel(level)} />
  <PillarProgress pointsEarned={points.social} pointsTotal={getPointsPerLevel(level)} />
</div>
