---
import type { CharacterData, Pillar } from '../../types';

interface Props {
  character: CharacterData;
  level: number;
}

const { character, level } = Astro.props;

function getPointsPerLevel(level: number): number {
  if (level >= 1 && level <= 4) {
    return 2;
  } else if (level >= 5 && level <= 10) {
    return 4;
  } else if (level >= 11 && level <= 20) {
    return 6;
  }
  throw new Error(`Invalid level: ${level}`);
}

// Subtract points for levels already completed
const points = {
  combat: character.advancementPoints.combat,
  exploration: character.advancementPoints.exploration,
  social: character.advancementPoints.social,
};
for (let i = 1; i < level-1; i++) {
  points.combat -= Math.min(points.combat, getPointsPerLevel(i));
  points.exploration -= Math.min(points.exploration, getPointsPerLevel(i));
  points.social -= Math.min(points.social, getPointsPerLevel(i));
}
---
<div class="subgrid">
  <div>{points.combat}/{getPointsPerLevel(level)}</div>
  <div>{points.exploration}/{getPointsPerLevel(level)}</div>
  <div>{points.social}/{getPointsPerLevel(level)}</div>
</div>
