---
import ProgressIcons from './ProgressIcons.astro';
import type { CharacterData } from '../../types';

interface Props {
  character: CharacterData;
}

const { character } = Astro.props;
---
<style is:global>
    .row {
        display: flex;
        align-items: center;
    }

    .row > div {
        margin-right: 0.5rem;
    }

    .row > div.pillar-name {
        min-width: 100px;
        text-align: right;
        margin-right: 3px;
    }
</style>
<div class="row">
  <div class="pillar-name">Combat:</div>
  <div>{character.advancementPoints.combat}</div>
  <ProgressIcons character={character} level={character.level + 1} pillar="combat" />
  <ProgressIcons character={character} level={character.level + 2} pillar="combat" />
</div>
<div class="row">
  <div class="pillar-name">Exploration:</div>
  <div>{character.advancementPoints.exploration}</div>
  <ProgressIcons character={character} level={character.level + 1} pillar="exploration" />
  <ProgressIcons character={character} level={character.level + 2} pillar="exploration" />
</div>
<div class="row">
  <div class="pillar-name">Social:</div>
  <div>{character.advancementPoints.social}</div>
  <ProgressIcons character={character} level={character.level + 1} pillar="social" />
  <ProgressIcons character={character} level={character.level + 2} pillar="social" />
</div>
