---
import type { CharacterData } from '../../types';
import CharacterName from './CharacterName.astro';
import ProgressTotals from './ProgressTotals.astro';

interface Props {
  characters: CharacterData[];
}

type Pillar = keyof CharacterData['advancementPoints'];

const { characters } = Astro.props;

function renderCharacters() {
  let output = '';
  for (let character of characters) {
    const fragment = renderProgress(character, 'combat');
    output += `<tr><td>${character.name}</td>${fragment}</tr>`;
  }
  return output;
}

function renderProgress(character: CharacterData, pillar: Pillar) {
  let points = character.advancementPoints[pillar];
  let output = '';

  // Repeat for each level in Tier 1
  for (let i = 0; i < 4; i++) {
    // Number of points remaining, to a maximum of 2
    let count = Math.min(points, 2);
    points -= count;
    output += `<td>${count}</td>`;
  }
  return output;
}

---
<style>
    table {
        border-spacing: 0;
        margin-top: 1rem;
    }

    tr {
        border-bottom: 1px solid var(--bulma-border);
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    tr:first-child {
        border-top: 1px solid var(--bulma-border);
    }
</style>
<table>
  <tbody>
  {characters.map((character) => (
    <tr>
      <td>
        <CharacterName character={character} />
      </td>
      <td>
        <ProgressTotals character={character} />
      </td>
    </tr>
  ))}
  </tbody>
</table>
