---
import { getCollection } from 'astro:content';

import GmHexDetails from '../../components/HexData/GmHexDetails.astro';
import Layout from '../../layouts/Layout.astro';
import { getHexColumn, getHexRow } from '../../utils/id-parsers';

const hexData = await getCollection('hexes');
const hexes = hexData
  .sort((a, b) => {
    const aCol = getHexColumn(a.id);
    const aRow = getHexRow(a.id);
    const bCol = getHexColumn(b.id);
    const bRow = getHexRow(b.id);
    if (aCol === bCol) {
      return aRow - bRow;
    } else {
      return aCol.localeCompare(bCol);
    }
  })
  .filter((hex) => !hex.data.hideInCatalog);
const title = 'Baruun Khil Hex Catalog';
---
<style>
    h2 {
        color: var(--bulma-text-strong);
        font-size: 1.5rem;
    }
</style>
<Layout title={title}>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title is-2">{title}</h1>
      <main>
        {
          hexes.map((entry) =>
            <h2>{entry.id.toUpperCase()}: {entry.data.name}</h2>
            <GmHexDetails hex={entry.data} showSelfLink={true} />)
        }
      </main>
    </div>
  </section>
</Layout>
