---
import DescriptiveAction from './DescriptiveAction.astro';
import MeleeWeaponAttack from './MeleeWeaponAttack.astro';
import RangedWeaponAttack from './RangedWeaponAttack.astro';
import SpecialAction from './SpecialAction.astro';

import type { StatBlockData } from '@achm/schemas';

interface Props {
  actions: StatBlockData['actions'];
}

const { actions } = Astro.props;
---

<style>
  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--bulma-strong-color);
  }
</style>
<h3>Actions</h3>
{
  actions.map((action) => {
    switch (action.action_type) {
      case 'descriptive':
        return <DescriptiveAction action={action} />;
      case 'melee weapon attack':
        return <MeleeWeaponAttack action={action} />;
      case 'ranged weapon attack':
        return <RangedWeaponAttack action={action} />;
      case 'special':
        return <SpecialAction action={action} />;
      default:
        // throw new Error(`Unknown action type: \`${action.action_type}\` (See \`Actions.astro\`.)`);
        throw new Error(`Unknown action type! (See \`Actions.astro\`.)`);
    }
  })
}
